body {
  font-family: Futura, Helvetica, serif;
  background-color: #35811F;
}

#title {
  color: orange;
  text-align: center;
  font-size: 48px;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
  border-radius: 20px;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: orange;
  color: green;
}
