body {
  font-family: Futura, Helvetica, serif;
  background-color: #755e23; /* #4d1a63 */
}

#navbar_wrapper a {
  text-decoration: none;
  color: orange;
}

#title {
  text-align: center;
  font-size: 36px;
}

#navbar_wrapper {
  list-style-type: none;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  background-color: green;
  border-radius: 20px;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #246b1d;
  border-radius: 0px 0px 20px 20px;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: orange;
  color: green;
}

#navbar .active {
  background-color: orange;
}

#navbar .active a {
  color: green;
}

#navbar #last {
  float: right;
}
